In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

Part 1

1. Write code to read all SCE files and merge them into a single DataFrame.
2. Report the following statistics to get an idea of the sample size:
1. Number of unique individuals in the dataset.
2
2. Number of observations (rows) in the dataset.
3. Number of unique survey waves.
4. The first and last dates observed in the dataset

In [3]:
#read in files using glob library and for loop
files = glob.glob('../TECH2-GROUP-TERM-PAPER/data/*.csv')
dfs = []
for file in files:
    df = pd.read_csv(file, sep= ';', parse_dates = ['date'])
    dfs.append(df)
df = pd.concat(dfs, ignore_index = True)
df

,userid,wid,date,weight,female,educ,age,hispanic,black,couple,...,num_lit_q3,num_lit_q3_correct,num_lit_q5,num_lit_q5_correct,num_lit_q6,num_lit_q6_correct,num_lit_q8,num_lit_q8_correct,num_lit_q9,num_lit_q9_correct
0,70024705,201404,2014-04-03,1.0,0.0,3.0,23.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70024720,201404,2014-04-02,0.5,0.0,4.0,65.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70024744,201404,2014-04-02,0.6,0.0,4.0,52.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,70024764,201404,2014-04-08,0.4,1.0,4.0,46.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70024781,201404,2014-04-10,0.8,1.0,3.0,61.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176096,75023169,202409,2024-09-19,2.5,1.0,1.0,23.0,0.0,1.0,0.0,...,2.0,0.0,20.0,0.0,1.0,0.0,2.0,0.0,2.0,1.0
176097,75023181,202409,2024-09-07,1.1,1.0,3.0,53.0,1.0,1.0,1.0,...,10.0,1.0,1000.0,0.0,4.0,0.0,1.0,0.0,1.0,0.0
176098,75023187,202409,2024-09-19,0.8,0.0,4.0,51.0,0.0,1.0,0.0,...,100.0,0.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176099,75023188,202409,2024-09-03,0.7,1.0,4.0,53.0,0.0,0.0,0.0,...,10.0,1.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176100,75023201,202409,2024-09-20,2.3,1.0,2.0,43.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,1.0,0.0,2.0,1.0

In [4]:
import pandas as pd
import numpy as np
import os.path
#creates
years=np.arange(2013,2025)
months=('Apr','Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep')

# use nested for loops

data = []
for month in months:
    for year in years:
    # File name for current file
        fn = f'SCE-{month}-{year}.csv'

    # Join data folder + filename to get path to CSV file
        path = os.path.join('data', fn)
    
        
        if os.path.exists(path):
         
         print(f"Loading data from: {path}")
         df = pd.read_csv(path, sep=';', parse_dates=['date'])
         data.append(df)


    print(f'Loading data from: {path}')
    
    # Load decade data
    df = pd.read_csv(path)
    
    data.append(df)

comb_df=pd.concat(data, ignore_index=True)
comb_df

Loading data from: data\SCE-Apr-2014.csv
Loading data from: data\SCE-Apr-2015.csv
Loading data from: data\SCE-Apr-2016.csv
Loading data from: data\SCE-Apr-2017.csv
Loading data from: data\SCE-Apr-2018.csv
Loading data from: data\SCE-Apr-2019.csv
Loading data from: data\SCE-Apr-2020.csv
Loading data from: data\SCE-Apr-2021.csv
Loading data from: data\SCE-Apr-2022.csv
Loading data from: data\SCE-Apr-2023.csv
Loading data from: data\SCE-Apr-2024.csv
Loading data from: data\SCE-Apr-2024.csv
Loading data from: data\SCE-Dec-2013.csv
Loading data from: data\SCE-Dec-2014.csv
Loading data from: data\SCE-Dec-2015.csv
Loading data from: data\SCE-Dec-2016.csv
Loading data from: data\SCE-Dec-2017.csv
Loading data from: data\SCE-Dec-2018.csv
Loading data from: data\SCE-Dec-2019.csv
Loading data from: data\SCE-Dec-2020.csv
Loading data from: data\SCE-Dec-2021.csv
Loading data from: data\SCE-Dec-2022.csv
Loading data from: data\SCE-Dec-2023.csv
Loading data from: data\SCE-Dec-2024.csv
Loading data from: data\SCE-Dec-2024.csv
Loading data from: data\SCE-Feb-2014.csv
Loading data from: data\SCE-Feb-2015.csv
Loading data from: data\SCE-Feb-2016.csv
Loading data from: data\SCE-Feb-2017.csv
Loading data from: data\SCE-Feb-2018.csv
Loading data from: data\SCE-Feb-2019.csv
Loading data from: data\SCE-Feb-2020.csv
Loading data from: data\SCE-Feb-2021.csv
Loading data from: data\SCE-Feb-2022.csv
Loading data from: data\SCE-Feb-2023.csv
Loading data from: data\SCE-Feb-2024.csv
Loading data from: data\SCE-Feb-2024.csv
Loading data from: data\SCE-Jan-2014.csv
Loading data from: data\SCE-Jan-2015.csv
Loading data from: data\SCE-Jan-2016.csv
Loading data from: data\SCE-Jan-2017.csv
Loading data from: data\SCE-Jan-2018.csv
Loading data from: data\SCE-Jan-2019.csv
Loading data from: data\SCE-Jan-2020.csv
Loading data from: data\SCE-Jan-2021.csv
Loading data from: data\SCE-Jan-2022.csv
Loading data from: data\SCE-Jan-2023.csv
Loading data from: data\SCE-Jan-2024.csv
Loading data from: data\SCE-Jan-2024.csv
Loading data from: data\SCE-Jul-2013.csv
Loading data from: data\SCE-Jul-2014.csv
Loading data from: data\SCE-Jul-2015.csv
Loading data from: data\SCE-Jul-2016.csv
Loading data from: data\SCE-Jul-2017.csv
Loading data from: data\SCE-Jul-2018.csv
Loading data from: data\SCE-Jul-2019.csv
Loading data from: data\SCE-Jul-2020.csv
Loading data from: data\SCE-Jul-2021.csv
Loading data from: data\SCE-Jul-2022.csv
Loading data from: data\SCE-Jul-2023.csv
Loading data from: data\SCE-Jul-2024.csv
Loading data from: data\SCE-Jul-2024.csv
Loading data from: data\SCE-Jun-2013.csv
Loading data from: data\SCE-Jun-2014.csv
Loading data from: data\SCE-Jun-2015.csv
Loading data from: data\SCE-Jun-2016.csv
Loading data from: data\SCE-Jun-2017.csv
Loading data from: data\SCE-Jun-2018.csv
Loading data from: data\SCE-Jun-2019.csv
Loading data from: data\SCE-Jun-2020.csv
Loading data from: data\SCE-Jun-2021.csv
Loading data from: data\SCE-Jun-2022.csv
Loading data from: data\SCE-Jun-2023.csv
Loading data from: data\SCE-Jun-2024.csv
Loading data from: data\SCE-Jun-2024.csv
Loading data from: data\SCE-Mar-2014.csv
Loading data from: data\SCE-Mar-2015.csv
Loading data from: data\SCE-Mar-2016.csv
Loading data from: data\SCE-Mar-2017.csv
Loading data from: data\SCE-Mar-2018.csv
Loading data from: data\SCE-Mar-2019.csv
Loading data from: data\SCE-Mar-2020.csv
Loading data from: data\SCE-Mar-2021.csv
Loading data from: data\SCE-Mar-2022.csv
Loading data from: data\SCE-Mar-2023.csv
Loading data from: data\SCE-Mar-2024.csv
Loading data from: data\SCE-Mar-2024.csv
Loading data from: data\SCE-May-2014.csv
Loading data from: data\SCE-May-2015.csv
Loading data from: data\SCE-May-2016.csv
Loading data from: data\SCE-May-2017.csv
Loading data from: data\SCE-May-2018.csv
Loading data from: data\SCE-May-2019.csv
Loading data from: data\SCE-May-2020.csv
Loading data from: data\SCE-May-2021.csv
Loading data from: data\SCE-May-2022.csv
Loading data from: data\SCE-May-2023.csv
Loading data from: data\SCE-May-2024.csv
Loading data from: data\SCE-May-2024.csv
Loading data from: data\SCE-Nov-2013.csv
Loading data from: data\SCE-Nov-2014.csv
Loading data from: data\SCE-Nov-2015.csv
Loading data from: data\SCE-Nov-2016.csv
Loading data from: data\SCE-Nov-2017.csv
Loading data from: data\SCE-Nov-2018.csv
Loading data from: data\SCE-Nov-2019.csv
Loading data from: data\SCE-Nov-2020.csv
Loading data from: data\SCE-Nov-2021.csv
Loading data from: data\SCE-Nov-2022.csv
Loading data from: data\SCE-Nov-2023.csv
Loading data from: data\SCE-Nov-2024.csv
Loading data from: data\SCE-Nov-2024.csv
Loading data from: data\SCE-Oct-2013.csv
Loading data from: data\SCE-Oct-2014.csv
Loading data from: data\SCE-Oct-2015.csv
Loading data from: data\SCE-Oct-2016.csv
Loading data from: data\SCE-Oct-2017.csv
Loading data from: data\SCE-Oct-2018.csv
Loading data from: data\SCE-Oct-2019.csv
Loading data from: data\SCE-Oct-2020.csv
Loading data from: data\SCE-Oct-2021.csv
Loading data from: data\SCE-Oct-2022.csv
Loading data from: data\SCE-Oct-2023.csv
Loading data from: data\SCE-Oct-2024.csv
Loading data from: data\SCE-Oct-2024.csv
Loading data from: data\SCE-Sep-2013.csv
Loading data from: data\SCE-Sep-2014.csv
Loading data from: data\SCE-Sep-2015.csv
Loading data from: data\SCE-Sep-2016.csv
Loading data from: data\SCE-Sep-2017.csv
Loading data from: data\SCE-Sep-2018.csv
Loading data from: data\SCE-Sep-2019.csv
Loading data from: data\SCE-Sep-2020.csv
Loading data from: data\SCE-Sep-2021.csv
Loading data from: data\SCE-Sep-2022.csv
Loading data from: data\SCE-Sep-2023.csv
Loading data from: data\SCE-Sep-2024.csv
Loading data from: data\SCE-Sep-2024.csv

,userid,wid,date,weight,female,educ,age,hispanic,black,couple,...,num_lit_q3_correct,num_lit_q5,num_lit_q5_correct,num_lit_q6,num_lit_q6_correct,num_lit_q8,num_lit_q8_correct,num_lit_q9,num_lit_q9_correct,userid;wid;date;weight;female;educ;age;hispanic;black;couple;num_kids;owner;inflation;house_price_change;prob_stocks_up;num_lit_q1;num_lit_q1_correct;num_lit_q2;num_lit_q2_correct;num_lit_q3;num_lit_q3_correct;num_lit_q5;num_lit_q5_correct;num_lit_q6;num_lit_q6_correct;num_lit_q8;num_lit_q8_correct;num_lit_q9;num_lit_q9_correct
0,70024705.0,201404.0,2014-04-03,1.0,0.0,3.0,23.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70024720.0,201404.0,2014-04-02,0.5,0.0,4.0,65.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70024744.0,201404.0,2014-04-02,0.6,0.0,4.0,52.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,70024764.0,201404.0,2014-04-08,0.4,1.0,4.0,46.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70024781.0,201404.0,2014-04-10,0.8,1.0,3.0,61.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172431,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75023169;202409;2024-09-19;2.5;1.0;1.0;23.0;0....
172432,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75023181;202409;2024-09-07;1.1;1.0;3.0;53.0;1....
172433,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75023187;202409;2024-09-19;0.8;0.0;4.0;51.0;0....
172434,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75023188;202409;2024-09-03;0.7;1.0;4.0;53.0;0....
172435,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75023201;202409;2024-09-20;2.3;1.0;2.0;43.0;0....

In [5]:
print(f'number of uniqe induviduals:', comb_df['userid'].nunique())
print(f'number of observations:', len(comb_df))
print(f'number of suvey waves:',len(comb_df['wid']))
print(f'The first date:', comb_df['date'].min().date())
print(f'The last date:', comb_df['date'].max().date())

number of uniqe induviduals: 22914
number of observations: 172436
number of suvey waves: 172436
The first date: 2013-06-01
The last date: 2024-12-31

Part 2

1. The numeracy questions are only asked the first time a respondent enters the survey and are
missing in subsequent waves. For each individual, fill in the missing numeracy variables
(num_lit_X_correct where X is a number) using the values from the first observation.
2. Drop all observations (rows) with missing values for the following variables:
1. Demographic information (gender, age, education)
2. The three expectations questions about inflation, house price changes, and the stock market
3. The seven numeracy questions (after you have forward-filled nonmissing values in step 1!)
Report the number of observations dropped at each step.
3. Drop outliers (implausibly small or large values). For each expectations response:
1. Compute the 0.1th percentile (0.001 quantile) and drop observations below this value.
2. Compute the 99.9th percentile (0.999 quantile) and drop observations above this value.
Report the number of observations dropped at each step.
4. Create a new column college equal to 1 if an individual has at least a bachelor’s degree, and 0
otherwise.
5. For each individual, compute the total number of correct numeracy responses and report the
fraction of individuals with 0, 1, . . . , 7 correct responses (e.g., 36.2% of individuals got all 7 right).
Create a new column num_lit_high (“high numerical literacy”) equal to 1 if an individual had
more correct responses than the median, and 0 otherwise.
6. Report the same sample statistics as in Part 1 for the final data set.

Part 3

With the processed data set in hand, you now turn to answering the governor’s first question: how do
expectations differ by gender, education, and numeracy?
For this part, perform the same analysis three times, each time splitting the sample by a different
variable:
1. Males vs. females
2. Non-college vs. college
3. Low vs. high numeracy

For each part,
1. Compute the average for each expectations variable (inflation, house prices, stock market) sepa-
rately for each group (males and females, non-college and college, etc.)
2. Create a figure with three panels (one per expectations variable) which depicts these group
averages as bar charts.
3
The complete analysis should produce three figures, each with three panels, each panel containing two
bars.

In [6]:
# 1. average for each expectations variable
# Males Vs. Females

# Create a function to calculate and print the average variables 
df_gender = df.groupby(['female'])
def df_gender_calculation(variable):
    variable_neat = variable.replace('_', ' ').upper()
    variable_average = round(df_gender[variable].mean(),1)
    variable_average = variable_average.rename({0.0: 'Male', 1.0: 'Female'})
    variabledc = variable_average.to_dict()
    for key, value in variabledc.items(): 
        print(f'The average answer for {variable_neat} from the {key} group is {value}.')

df_gender_calculation(variable = 'inflation')
print('')
df_gender_calculation(variable = 'house_price_change')
print('')
df_gender_calculation(variable = 'prob_stocks_up')

KeyError: 'female'

In [ ]:
# non-college and college
df_college = df[df['educ']>2]
df_non_college= df[df['educ']<2]

def df_college_calculation(variable):
    variable_neat = variable.replace('_', ' ').upper()
    df_educ ={}
    variable_averagec = round(df_college[variable].mean(), 1)
    variable_averagenc = round(df_non_college[variable].mean(),1)
    df_educ['college educated'] = variable_averagec
    df_educ['non college educated'] = variable_averagenc
    for key, value in df_educ.items():
        print(f'The average answer for {variable_neat} from the {key} group is {value}.')

df_college_calculation(variable = 'inflation')
print('')
df_college_calculation(variable = 'house_price_change')
print('')
df_college_calculation(variable = 'prob_stocks_up')

The average answer for INFLATION from the college educated group is 5.5.
The average answer for INFLATION from the non college educated group is 16.3.

The average answer for HOUSE PRICE CHANGE from the college educated group is 5.1.
The average answer for HOUSE PRICE CHANGE from the non college educated group is 8.9.

The average answer for PROB STOCKS UP from the college educated group is 43.0.
The average answer for PROB STOCKS UP from the non college educated group is 34.3.

In [ ]:
#low vs high numeracy
# calculate average numeracy for each person
columns= ['num_lit_q1_correct',
 'num_lit_q2_correct',
 'num_lit_q3_correct',
 'num_lit_q5_correct',
 'num_lit_q6_correct',
 'num_lit_q8_correct',
 'num_lit_q9_correct']
df['Numeracy'] = df[columns].mean(axis = 1)

#divide between high and low numeracy
df_high = df[df['Numeracy']>0.5]
df_low = df[df['Numeracy']<0.5]

#function to calculate average for each variable
def df_numeracy_calculation(variable):
    variable_neat = variable.replace('_', ' ').upper()
    df_num ={}
    variable_averageh = round(df_high[variable].mean(), 1)
    variable_averagel = round(df_low[variable].mean(),1)
    df_num['high numeracy'] = variable_averageh
    df_num['low numeracy'] = variable_averagel
    for key, value in df_num.items():
        print(f'The average answer for {variable_neat} from the {key} group is {value}.')

df_numeracy_calculation(variable = 'inflation')
print(' ')
df_numeracy_calculation(variable = 'house_price_change')
print('')
df_numeracy_calculation(variable = 'prob_stocks_up')

The average answer for INFLATION from the high numeracy group is 8.2.
The average answer for INFLATION from the low numeracy group is 14.1.

The average answer for HOUSE PRICE CHANGE from the high numeracy group is 6.2.
The average answer for HOUSE PRICE CHANGE from the low numeracy group is 12.2.

The average answer for PROB STOCKS UP from the high numeracy group is 47.8.
The average answer for PROB STOCKS UP from the low numeracy group is 41.5.

Part 4

To answer the governor’s second set of questions, you need to investigate how average expectations
evolved over time for the period of 2015-2024 covered by the sample.
For each grouping variable (female, college, num_lit_high):
1. Collapse the data to monthly averages for each of the expectation variables (inflation, house prices,
stock market) for each group (e.g., for males vs. females).
2. Create a figure with three vertically stacked panels (one panel per expectation variable). Each
panel should show the group time series (two series per panel, e.g., males vs. females) with time
on the x-axis.
3. The governor wants to know how expectations reacted to important geopolitical events. Add
vertical lines and annotations to each panel indicating the following events:
• Trump elected US president for the first time (November 8, 2016)
• COVID-19 pandemic goes global (February 1, 2020)
• Biden elected US president (November 3, 2020)
• Russia’s full-scale invasion of Ukraine (February 24, 2022)
• Nobel Prize in Literature awarded to Jon Fosse (October 3, 2023)
• Trump elected US president for the second time (November 5, 2024)
Which events had sizeable effects on expectations? Can you detect differences in how different
groups adjusted their expectations?
The complete analysis should produce three figures, each with three panels, each panel containing two
lines

Part 5

Finally, the governor is interested in whether people’s expectations indicate realized future inflation or
simply reflect past inflation experienced when answering the survey.
To answer this question, you first need to obtain data on realized inflation. A colleague has already
downloaded data on the level of the Consumer Price Index (CPI) from FRED and stored it as a CSV file
in the data/ folder.
1. First, compare expectations to realized future inflation:
1. Using this monthly CPI data, compute the realized inflation over the next 12 months; i.e., for
each month t compute the forward-looking annual inflation as
In f lationt = CPIt+12 −CPIt
CPIt
×100
2. Merge this inflation measure with the monthly averages by gender from Part 4. Specifically,
match the average expected inflation by gender i in month t from the SCE, Ex pIn f lationit,
with the forward-looking inflation measure In f lationt from the CPI data.
3. Create a figure with two panels (one per gender), each showing a scatter plot of realized
future inflation (y-axis) versus average expected inflation by gender.
Compute the correlation between expected and realized inflation for each gender and add
the correlation coefficient as text to the corresponding panel.
4
2. Repeat steps 1–3, but instead of forward-looking inflation, compute realized inflation over the past
12 months:
In f lationt = CPIt −CPIt−12
CPIt−12
×100
Do you find differences in these correlation coefficients? What do these results say about how individuals
form beliefs about inflation? Are there notable gender differences?
Note: In this part, use monthly data only; individual-level SCE data is not needed.